<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Single's Inferno S02</title>
  </head>
  <body>
    <div id="app">
      <h1>Single's Inferno S02</h1>
      <h2>Cast</h2>
      <p v-if="cast.length === 0">There are no characters</p>
      <ul v-else-if="cast.length % 2 === 1">
        <li v-for="character in cast">
          <span>{{ character.name }}</span>
          <button v-on:click="makeFav(character)">❤️ Fav</button>
        </li> 
      </ul>
      <p v-else>
        There are even characters 🥁
      </p>
      <h2>Fav Characters</h2>
      <ul v-if="favList.length > 0">
        <li v-for="character in favList">
          <span>{{ character }}</span>
        </li>
      </ul>
      <p v-else>No favorite characters now</p>

      <hr />

      <h2>Add a new Character</h2>
      <form action="" v-on:submit.prevent="addNewCharacter">
        <pre>{{ newCharacter }}</pre>
        <label>
          Name:
          <input type="text" v-model="newCharacter.name">
        </label>
        <label>
          Korean Name:
          <input type="text" v-model="newCharacter.koreanName">
        </label>
        <label>
          Gender:
          <input type="text" v-model="newCharacter.gender">
        </label>
        <button type="submit">Add New Character</button>
      </form>

      <hr />

      <h2>Example of a "v-for" with names joined by commas in between</h2>
      <p><span v-for="(character, index) in cast">{{ character.name}}{{ index === cast.length -1 ? '' : ', '}} </span></p>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
      const app = Vue.createApp({
        data: () => ({
          newCharacter: {
            name: '(Anonymous)',
            koreanName: '(?)',
            gender: 'fluid',
          },
          cast: [
            {
              name: 'Shin Seul Gi',
              koreanName: "신슬기",
              gender: 'girl'
            },
            {
              name: 'Park Se Jung',
              koreanName: "박세정",
              gender: 'girl'
            },
            {
              name: 'Lee So E',
              koreanName: "이소이",
              gender: 'girl'
            },
            {
              name: 'Lee Na Din',
              koreanName: "이나딘",
              gender: 'girl'
            },
            {
              name: 'Choi Seo Eun',
              koreanName: "최서은",
              gender: 'girl'
            },
            // ! ! ! //
            {
              name: 'Choi Jong Woo',
              koreanName: "최종우",
              gender: 'boy',
            },
            {
              name: 'Jo Yung Jae',
              koreanName: "조융재",
              gender: 'boy',
            },
            {
              name: 'Kim Han Bin',
              koreanName: "김한빈",
              gender: 'boy',
            },
            {
              name: 'Shin Dong Woo',
              koreanName: "신동우",
              gender: 'boy',
            },
          ],
          favList: [],
        }),
        methods:{
          makeFav(character) {
            if (this.favList.includes(character)) {
              this.favList = this.favList.filter((fav) => fav !== character);
            } else {
              this.favList.push(character);
            }
          },
          addNewCharacter(){
            this.cast.push(this.newCharacter);
            this.newCharacter = {
              name: '(Anonymous)',
              koreanName: '(?)',
              gender: 'fluid',
            };
          }
        }
      });
      
      app.mount('#app');
    </script>
  </body>
</html>
